# Autosave files
*~

# Personal IDE/Editor configs
.vscode/
.claude/

# build outputs
[Oo]bj/
packages/
TestResults/

# Build system temporary files (DO NOT COMMIT)
RNNoiseLib/Build/intermediate/

# NOTE: Artefacts/PrecompiledLibs/ IS TRACKED - those are distribution binaries

# globs
Makefile.in
*.DS_Store
*.sln.cache
*.suo
*.cache
*.pidb
*.userprefs
*.usertasks
config.log
config.make
config.status
aclocal.m4
install-sh
autom4te.cache/
*.user
*.tar.gz
tarballs/
test-results/
Thumbs.db
.vs/

# Mac bundle stuff
*.dmg
*.app

# resharper
*_Resharper.*
*.Resharper

#idea
*.idea

# dotCover
*.dotCover

# Ignore Xamarin.Android Resource.Designer.cs files
**/*.Droid/**/[Rr]esource.[Dd]esigner.cs
**/*.Android/**/[Rr]esource.[Dd]esigner.cs
**/Android/**/[Rr]esource.[Dd]esigner.cs
**/Droid/**/[Rr]esource.[Dd]esigner.cs